@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container p-3 my-3 bg-dark text-white">
        <h1 class="display-5">CPW 213 eCommerce Site</h1>
        <p class="lead">Placeholder Text</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Placeholder</a>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title">Ex. "Shop Most Popular"</h5>
                <p class="card-text">Placeholder Text</p>
                <a href="#" class="btn btn-primary">Placeholder</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title">Ex. "See What's New"</h5>
                <p class="card-text">Placeholder Text</p>
                <a href="#" class="btn btn-primary">Placeholder</a>
            </div>
        </div>
    </div>
</div>